<h6>Current Balance</h6>
<h4>$<%= current_user_account_balance %></h4>
<!-- Button trigger modal -->
<a type="button" class="" data-bs-toggle="modal" data-bs-target="#BalanceModal">
  Add balance
</a>
